.card {
    position: relative;
    cursor: pointer;

    img {
        height: 340px;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 10px;
    }

    &>div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        display: flex;
        padding: 20px;
        transition: 0.5s;
        flex-direction: column;
        justify-content: flex-end;

        &:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.60) 100%);
        }

        h2 {
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
        }

        &>div {
            color: white;
            opacity: 0;
            height: 0;
            transition: 0.5s;

            &.active {
                opacity: 1;
                height: unset;
            }
        }
    }
}